/* unvisited link */
a:link {
  color:GREY;
}

/* visited link */
a:visited {
  color: GREY;
}

/* mouse over link */
a:hover {
  color: ORANGE;text-decoration: underline;
}

/* selected link */
a:active {
  color: ORANGE;
}
#table1 table, tr, td, th {
     border: 0;
}


